<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="http://127.0.0.1:5000/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://127.0.0.1:5000/css/business-frontpage.css" />

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/projects">Project Funder</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->

    <!-- Page Content -->
    <div class="container">

        <div class="col-xs-12" style="height:100px;"></div>

        <!-- /.row -->

        <div style="height: 20px;">&nbsp;</div>
        <div class="row">

            {% for i in user_info %}
            <div class="col-md-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Profile of: {{ i[0] }} </h4>
                        <p class="card-text">UserName : {{ i[1] }}</p>
                        <p> Number Of Created Projects : {{ ref_info1 }}</p>
                        <p> Number Of Donated Projects : {{ ref_info2 }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <h3 style="margin-bottom: 20px">Created Project</h3> {% if ref_info1 == 0 %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">You haven't created any project yet</h6>
                </div>
            </div>
        </div </div>
        {% else %}
        <div class="row">
            {% for i in users_project %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        {% if i[5] == 1 %}
                        <img src="{{url_for('static', filename='images/health.png')}}" style="max-width: 100%" /> {% elif i[5] == 2 %}
                        <img src="{{url_for('static', filename='images/art.png')}}" style="max-width: 100%" /> {% elif i[5] == 3 %}
                        <img src="{{url_for('static', filename='images/education.png')}}" style="max-width: 100%" /> {% else %}
                        <img src="{{url_for('static', filename='images/tech.png')}}" style="max-width: 100%" /> {% endif %}
                        <h4 class="card-title"><a href="/projectdetails/{{i[0]}}">{{ i[1] }}</a></h4>
                        <p class="card-text">Status:&nbsp;{{ i[2] }}</p>
                        {% if i[3] %}
                        <p class="card-text">Total Donation:&nbsp;{{ i[3] }}</p>
                        {% else %}
                        <p class="card-text">Totall Donation:&nbsp;0 </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        <br>
        <h3 style="margin-bottom: 20px">Donated Project</h3> {% if ref_info2 == 0 %}
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">You haven't donated in any project yet </h6>
                    </div>
                </div>
            </div </div>

            {% else %}

            <div class="row">
                {% for i in donatedProject %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            {% if i[4] == 1 %}
                            <img src="{{url_for('static', filename='images/health.png')}}" style="max-width: 100%" /> {% elif i[4] == 2 %}
                            <img src="{{url_for('static', filename='images/art.png')}}" style="max-width: 100%" /> {% elif i[4] == 3 %}
                            <img src="{{url_for('static', filename='images/education.png')}}" style="max-width: 100%" /> {% else %}
                            <img src="{{url_for('static', filename='images/tech.png')}}" style="max-width: 100%" /> {% endif %}
                            <h4 class="card-title"><a href="/projectdetails/{{i[0]}}">{{ i[1] }}</a></h4>
                            <p class="card-text">Current Limit:&nbsp;{{ i[3] }}</p>
                            <p class="card-text">Status:&nbsp;{{ i[2] }}</p>
                            <p class="card-text">Donated Amount:&nbsp;{{ i[5] }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
        <!-- /.row -->
        <div style="height: 20px;">&nbsp;</div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    < <!-- Bootstrap core JavaScript -->
        <script src="http://127.0.0.1:5000/vendor/jquery/jquery.min.js"></script>
        <script src="http://127.0.0.1:5000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>